@mixin flex-default($columns: false) {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
   > * {
    width: calc((100% / #{$columns}) - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
